# idea ignore
.idea/
*.ipr
*.iml
*.iws
/target
/log
node_modules
/dist
/.db
/git.sh
target
*.bak
build/*
go.sum
proxy.zip
/proxy-client-golang/build/*
/proxy-client-golang/*.zip
/.vscode
/.choccy
/proxy-android-client/.gradle/
/proxy-android-client/.acside
/proxy-android-client/.idea
/proxy-android-client/build